
HOSTS = ( ${DIST_HOST} )

FILES1 = ( ${APPLIC_INSTALL}/bin/${T_A} )
FILES2 = ( ${APPLIC_INSTALL}/bin/${HOST_ARCH} )
FILES3 = ( ${APPLIC_INSTALL}/data )
FILES4 = ( ${APPLIC_INSTALL}/include )
FILES6 = ( ${APPLIC_INSTALL}/bin/asm56000 )
FILES7 = ( ${APPLIC_INSTALL}/IMP_Startup.pwfs1 )
FILES5 = ( ${APPLIC_INSTALL}/RELEASE.NOTES )

(${FILES1}) -> (${HOSTS})
	install -R ${DIST_PATH}/bin/${T_A};

(${FILES2}) -> (${HOSTS})
	install -R ${DIST_PATH}/bin/${HOST_ARCH};

(${FILES3}) -> (${HOSTS})
	install -R ${DIST_PATH}/data;

(${FILES4}) -> (${HOSTS})
	install -R ${DIST_PATH}/include;

(${FILES5}) -> (${HOSTS})
	install -R ${DIST_PATH}/RELEASE.NOTES;

(${FILES6}) -> (${HOSTS})
        install -R ${DIST_PATH}/bin/asm56000;
(${FILES7}) -> (${HOSTS})
        install -R ${DIST_PATH}/IMP_Startup.pwfs1;
