#
#  Instrument	Attribute	Data	Keyword		Gemini 	Null	Array	Column	Comment
#		Name in SDS	Type	Name in Fits	Mandat	Value	Value	Name
#  ------------	---------------	-------	---------------	-------	-------	-------	-------	-----------------
#
OK *    	AIRMASS 	DOUBLE	AIRMASS 	F	0.0	NONE	NULL	"AIRMASS"
OK *    	AMDX1   	DOUBLE	AMDX1   	F	NULL	NONE	NULL	"Plate solution x coefficients"
OK *    	AMDX10  	DOUBLE	AMDX10  	F	NULL	NONE	NULL	""
OK *    	AMDX11  	DOUBLE	AMDX11  	F	NULL	NONE	NULL	""
OK *    	AMDX12  	DOUBLE	AMDX12  	F	NULL	NONE	NULL	""
OK *    	AMDX13  	DOUBLE	AMDX13  	F	NULL	NONE	NULL	""
OK *    	AMDX14  	DOUBLE	AMDX14  	F	NULL	NONE	NULL	""
OK *    	AMDX15  	DOUBLE	AMDX15  	F	NULL	NONE	NULL	""
OK *    	AMDX16  	DOUBLE	AMDX16  	F	NULL	NONE	NULL	""
OK *    	AMDX17  	DOUBLE	AMDX17  	F	NULL	NONE	NULL	""
OK *    	AMDX18  	DOUBLE	AMDX18  	F	NULL	NONE	NULL	""
OK *    	AMDX19  	DOUBLE	AMDX19  	F	NULL	NONE	NULL	""
OK *    	AMDX2   	DOUBLE	AMDX2   	F	NULL	NONE	NULL	""
OK *    	AMDX20  	DOUBLE	AMDX20  	F	NULL	NONE	NULL	""
OK *    	AMDX3   	DOUBLE	AMDX3   	F	NULL	NONE	NULL	""
OK *    	AMDX4   	DOUBLE	AMDX4   	F	NULL	NONE	NULL	""
OK *    	AMDX5   	DOUBLE	AMDX5   	F	NULL	NONE	NULL	""
OK *    	AMDX6   	DOUBLE	AMDX6   	F	NULL	NONE	NULL	""
OK *    	AMDX7   	DOUBLE	AMDX7   	F	NULL	NONE	NULL	""
OK *    	AMDX8   	DOUBLE	AMDX8   	F	NULL	NONE	NULL	""
OK *    	AMDX9   	DOUBLE	AMDX9   	F	NULL	NONE	NULL	""
OK *    	AMDY1   	DOUBLE	AMDY1   	F	NULL	NONE	NULL	"Plate solution y coefficients"
OK *    	AMDY10  	DOUBLE	AMDY10  	F	NULL	NONE	NULL	""
OK *    	AMDY11  	DOUBLE	AMDY11  	F	NULL	NONE	NULL	""
OK *    	AMDY12  	DOUBLE	AMDY12  	F	NULL	NONE	NULL	""
OK *    	AMDY13  	DOUBLE	AMDY13  	F	NULL	NONE	NULL	""
OK *    	AMDY14  	DOUBLE	AMDY14  	F	NULL	NONE	NULL	""
OK *    	AMDY15  	DOUBLE	AMDY15  	F	NULL	NONE	NULL	""
OK *    	AMDY16  	DOUBLE	AMDY16  	F	NULL	NONE	NULL	""
OK *    	AMDY17  	DOUBLE	AMDY17  	F	NULL	NONE	NULL	""
OK *    	AMDY18  	DOUBLE	AMDY18  	F	NULL	NONE	NULL	""
OK *    	AMDY19  	DOUBLE	AMDY19  	F	NULL	NONE	NULL	""
OK *    	AMDY2   	DOUBLE	AMDY2   	F	NULL	NONE	NULL	""
OK *    	AMDY20  	DOUBLE	AMDY20  	F	NULL	NONE	NULL	""
OK *    	AMDY3   	DOUBLE	AMDY3   	F	NULL	NONE	NULL	""
OK *    	AMDY4   	DOUBLE	AMDY4   	F	NULL	NONE	NULL	""
OK *    	AMDY5   	DOUBLE	AMDY5   	F	NULL	NONE	NULL	""
OK *    	AMDY6   	DOUBLE	AMDY6   	F	NULL	NONE	NULL	""
OK *    	AMDY7   	DOUBLE	AMDY7   	F	NULL	NONE	NULL	""
OK *    	AMDY8   	DOUBLE	AMDY8   	F	NULL	NONE	NULL	""
OK *    	AMDY9   	DOUBLE	AMDY9   	F	NULL	NONE	NULL	""
OK *    	AXISSZ1 	INT	AXISSZ1 	F	NULL	NONE	NULL	"lenght of y axis for entire image"
OK *    	AXISSZ2 	INT	AXISSZ2 	F	NULL	NONE	NULL	"lenght of y axis for entire image"
OK *    	BANDPASS	INT	BANDPASS	F	NULL	NONE	NULL	"GSSS Bandpass code"
OK *    	BFCPYRT1	STRING	BFCPYRT1	F	NULL	NONE	NULL	""
OK *    	BFCPYRT2	STRING	BFCPYRT2	F	NULL	NONE	NULL	""
OK *    	BI-FLAG 	INT	BI-FLAG 	F	0	NONE	NULL	" BIAS SUBTRACT FLAG"
OK *    	BIAS-PIX	INT	BIAS-PIX	F	0	NONE	NULL	""
OK *    	BP-FLAG 	INT	BP-FLAG 	F	0	NONE	NULL	" BAD PIXEL FLAG"
OK *    	BSCALE  	DOUBLE	BSCALE  	F	0.0	NONE	NULL	" REAL = TAPE*BSCALE + BZERO"
OK *    	BT-FLAG 	STRING	BT-FLAG 	F	NULL	NONE	NULL	""
OK *    	BZERO   	DOUBLE	BZERO   	F	0.0	NONE	NULL	""
OK *    	CAM-ID  	INT	CAM-ID  	F	0	NONE	NULL	" CAMERA HEAD ID"
OK *    	CAM-TEMP	DOUBLE	CAM-TEMP	F	0.0	NONE	NULL	" CAMERA TEMPERATURE, DEG C"
OK *    	CCDPICNO	INT	CCDPICNO	F	0	NONE	NULL	" ORIGINAL CCD PICTURE NUMBER"
OK *    	CCDPROC 	STRING	CCDPROC 	F	NULL	NONE	NULL	""
OK *    	CD1_1   	FLOAT	CD1_1   	F	NULL	NONE	NULL	"CD matrix"
OK *    	CD1_2   	FLOAT	CD1_2   	F	NULL	NONE	NULL	"CD matrix"
OK *    	CD2_1   	FLOAT	CD2_1   	F	NULL	NONE	NULL	"CD matrix"
OK *    	CD2_2   	FLOAT	CD2_2   	F	NULL	NONE	NULL	"CD matrix"
OK *    	CHUNK   	BOOLEAN	CHUNK   	F	NULL	NONE	NULL	"indicates if Fits file is a 'chunk' of data"
OK *    	CMP-LAMP	INT	CMP-LAMP	F	0	NONE	NULL	" COMPARISON LAMP"
OK *    	CNPIX1  	USHORT	CNPIX1  	F	NULL	NONE	NULL	"X corner (pixels)"
OK *    	CNPIX2  	SHORT	CNPIX2  	F	NULL	NONE	NULL	"Y corner (pixels)"
OK *    	COMMENT 	STRING	COMMENT 	F	NULL	NONE	NULL	""
OK *    	CR-FLAG 	INT	CR-FLAG 	F	0	NONE	NULL	" BAD PIXEL FLAG"
OK *    	CRPIX1  	FLOAT	CRPIX1  	F	NULL	NONE	NULL	"Refpix of first axis"
OK *    	CRPIX2  	FLOAT	CRPIX2  	F	NULL	NONE	NULL	"Refpix of second axis"
OK *    	CRVAL1  	DOUBLE	CRVAL1  	F	NULL	NONE	NULL	"RA at Ref pix in decimal degrees"
OK *    	CRVAL2  	DOUBLE	CRVAL2  	F	NULL	NONE	NULL	"DEC at Ref pix in decimal degrees"
OK *    	CTYPE1  	STRING	CTYPE1  	F	NULL	NONE	NULL	"R.A. in tangent plane projection"
OK *    	CTYPE2  	STRING	CTYPE2  	F	NULL	NONE	NULL	"DEC. in tangent plane projection"
OK *    	DATA-TYP	STRING	DATA-TYP	F	NULL	NONE	NULL	" OBJECT,DARK,BIAS,ETC."
OK *    	DATAMAX 	ANY	DATAMAX 	F	NULL	NONE	NULL	"DATAMAX"
OK *    	DATAMIN 	UINT	DATAMIN 	F	NULL	NONE	NULL	"DATA MIN"
OK *    	DATATYPE	STRING	DATATYPE	F	NULL	NONE	NULL	"Type of Data"
OK *    	DATE    	STRING	DATE    	F	NULL	NONE	NULL	""
OK *    	DATE-END	STRING	DATE-END	F	NULL	NONE	NULL	"UT date of Observation"
OK *    	DATE-OBS	STRING	DATE-OBS	F	NULL	NONE	NULL	" DATE DD/MM/YY"
OK *    	DCHOPPED	BOOLEAN	DCHOPPED	F	NULL	NONE	NULL	"Image repaired for chopping effects"
OK *    	DEC     	STRING	DEC     	F	NULL	NONE	NULL	" DECLINATION"
OK *    	DEW-TEMP	DOUBLE	DEW-TEMP	F	0.0	NONE	NULL	" DEWAR TEMPRATURE, DEG C"
OK *    	DK-FLAG 	INT	DK-FLAG 	F	0	NONE	NULL	" DARK SUBTRACT FLAG"
OK *    	DSCNDNUM	UBYTE	DSCNDNUM	F	NULL	NONE	NULL	"Identifies descendant of plate scanimage"
OK *    	DSHEARED	BOOLEAN	DSHEARED	F	NULL	NONE	NULL	"Image repaired for shearing effects"
OK *    	EPOCH   	DOUBLE	EPOCH   	F	0.0	NONE	NULL	" EPOCH OF RA AND DEC"
OK *    	EQUINOX 	DOUBLE	EQUINOX 	F	NULL	NONE	NULL	"Julian Reference frame equinox"
OK *    	EXPOSURE	DOUBLE	EXPOSURE	F	NULL	NONE	NULL	"Exposure time minutes"
OK *    	EXTLEVEL	INT	EXTLEVEL	F	NULL	NONE	NULL	"level of the extension file in a hierarchy"
OK *    	F1POS   	INT	F1POS   	F	0	NONE	NULL	" FILTER BOLT I POSITION"
OK *    	F2POS   	INT	F2POS   	F	0	NONE	NULL	" FILTER BOLT II POSITION"
OK *    	FF-FLAG 	STRING	FF-FLAG 	F	NULL	NONE	NULL	""
OK *    	FITSDATE	STRING	FITSDATE	F	NULL	NONE	NULL	"Date FITS file was generated"
OK *    	FITSFILE	STRING	FITSFILE	F	NULL	NONE	NULL	""
OK *    	FLCPYRT1	STRING	FLCPYRT1	F	NULL	NONE	NULL	""
OK *    	FLCPYRT2	STRING	FLCPYRT2	F	NULL	NONE	NULL	""
OK *    	FLCPYRT3	STRING	FLCPYRT3	F	NULL	NONE	NULL	""
OK *    	FLCPYRT4	STRING	FLCPYRT4	F	NULL	NONE	NULL	""
OK *    	FLCPYRT5	STRING	FLCPYRT5	F	NULL	NONE	NULL	""
OK *    	FLCPYRT6	STRING	FLCPYRT6	F	NULL	NONE	NULL	""
OK *    	FLCPYRT7	STRING	FLCPYRT7	F	NULL	NONE	NULL	""
OK *    	FLCPYRT8	STRING	FLCPYRT8	F	NULL	NONE	NULL	""
OK *    	FLCPYRT9	STRING	FLCPYRT9	F	NULL	NONE	NULL	""
OK *    	FLCPYRTA	STRING	FLCPYRTA	F	NULL	NONE	NULL	""
OK *    	FLCPYRTB	STRING	FLCPYRTB	F	NULL	NONE	NULL	""
OK *    	FLCPYRTC	STRING	FLCPYRTC	F	NULL	NONE	NULL	""
OK *    	FLCPYRTD	STRING	FLCPYRTD	F	NULL	NONE	NULL	""
OK *    	FLCPYRTE	STRING	FLCPYRTE	F	NULL	NONE	NULL	""
OK *    	FLCPYRTF	STRING	FLCPYRTF	F	NULL	NONE	NULL	""
OK *    	FR-FLAG 	INT	FR-FLAG 	F	0	NONE	NULL	" FRINGE FLAG"
OK *    	FR-SCALE	DOUBLE	FR-SCALE	F	0.0	NONE	NULL	" FRINGE SCALING PARAMETER"
OK *    	FRAMEID 	STRING	FRAMEID 	F	NULL	NONE	NULL	"Gemini frame identifier"
OK *    	GCOUNT  	INT	GCOUNT  	F	NULL	NONE	NULL	"number of data groups"
OK *    	HISTORY 	STRING	HISTORY 	F	NULL	NONE	NULL	""
OK *    	INHERIT 	BOOLEAN	INHERIT 	F	T	NONE	NULL	"inherit the primary header"
OK *    	IRAF-BPX	INT	IRAF-BPX	F	0	NONE	NULL	" DATA BITS/PIXEL"
OK *    	IRAF-MAX	DOUBLE	IRAF-MAX	F	0.0	NONE	NULL	" DATA MAX"
OK *    	IRAF-MIN	DOUBLE	IRAF-MIN	F	0.0	NONE	NULL	" DATA MIN"
OK *    	IRAF-TLM	STRING	IRAF-TLM	F	NULL	NONE	NULL	"Time of last modification"
OK *    	IRAFNAME	STRING	IRAFNAME	F	NULL	NONE	NULL	" NAME OF IRAF IMAGE FILE"
OK *    	IRAFTYPE	STRING	IRAFTYPE	F	LONG	NONE	NULL	"PIXEL TYPE"
OK *    	ITIME   	INT	ITIME   	F	0	NONE	NULL	" REQUESTED INTEGRATION TIME (SECS)"
OK *    	LTM1_1  	DOUBLE	LTM1_1  	F	0.0	NONE	NULL	""
OK *    	LTM1_2  	DOUBLE	LTM1_2  	F	0.0	NONE	NULL	""
OK *    	LTM2_1  	DOUBLE	LTM2_1  	F	0.0	NONE	NULL	""
OK *    	LTM2_2  	DOUBLE	LTM2_2  	F	0.0	NONE	NULL	""
OK *    	LTV1    	DOUBLE	LTV1    	F	0.0	NONE	NULL	""
OK *    	LTV2    	DOUBLE	LTV2    	F	0.0	NONE	NULL	""
OK *    	NBFCPYRT	INT	NBFCPYRT	F	NULL	NONE	NULL	"Number of brief copyright statement lines"
OK *    	NFLCPYRT	INT	NFLCPYRT	F	NULL	NONE	NULL	"Number of full copyright statement lines"
OK *    	OBJCTDEC	STRING	OBJCTDEC	F	NULL	NONE	NULL	"Object Declination (J2000)"
OK *    	OBJCTRA 	STRING	OBJCTRA 	F	NULL	NONE	NULL	"Object Right Ascension (J2000)"
OK *    	OBJCTX  	FLOAT	OBJCTX  	F	NULL	NONE	NULL	"Object X on plate (pixels)"
OK *    	OBJCTY  	FLOAT	OBJCTY  	F	NULL	NONE	NULL	"Object Y on plate (pixels)"
OK *    	OBJECT  	STRING	OBJECT  	F	NULL	NONE	NULL	""
OK *    	ORIGIN  	STRING	ORIGIN  	F	NULL	NONE	NULL	""
OK *    	ORIGINS1	INT	ORIGIN1 	F	NULL	NONE	NULL	"y coord for the bottom left corner of a data chunk"
OK *    	ORIGINS2	INT	ORIGIN2 	F	NULL	NONE	NULL	"y coord for the bottom left corner of a data chunk"
OK *    	OTIME   	INT	OTIME   	F	0	NONE	NULL	" ACTUAL INTEGRATION TIME (SECS)"
OK *    	PCOUNT  	INT	PCOUNT  	F	NULL	NONE	NULL	"random parameters"
OK *    	PLATEID 	STRING	PLATEID 	F	NULL	NONE	NULL	"GSSS Plate ID"
OK *    	PLTDECD 	INT	PLTDECD 	F	NULL	NONE	NULL	""
OK *    	PLTDECM 	INT	PLTDECM 	F	NULL	NONE	NULL	""
OK *    	PLTDECS 	DOUBLE	PLTDECS 	F	NULL	NONE	NULL	""
OK *    	PLTDECSN	STRING	PLTDECSN	F	NULL	NONE	NULL	"Plate center Dec"
OK *    	PLTGRADE	INT	PLTGRADE	F	NULL	NONE	NULL	"Plate grade"
OK *    	PLTLABEL	STRING	PLTLABEL	F	NULL	NONE	NULL	"Observatory plate label"
OK *    	PLTRAH  	INT	PLTRAH  	F	NULL	NONE	NULL	"Plate center RA"
OK *    	PLTRAM  	INT	PLTRAM  	F	NULL	NONE	NULL	""
OK *    	PLTRAS  	DOUBLE	PLTRAS  	F	NULL	NONE	NULL	""
OK *    	PLTSCALE	DOUBLE	PLTSCALE	F	NULL	NONE	NULL	"Plate Scale arcsec per mm"
OK *    	PPO1    	DOUBLE	PPO1    	F	NULL	NONE	NULL	"Orientation Coefficients"
OK *    	PPO2    	DOUBLE	PPO2    	F	NULL	NONE	NULL	""
OK *    	PPO3    	DOUBLE	PPO3    	F	NULL	NONE	NULL	""
OK *    	PPO4    	DOUBLE	PPO4    	F	NULL	NONE	NULL	""
OK *    	PPO5    	DOUBLE	PPO5    	F	NULL	NONE	NULL	""
OK *    	PPO6    	DOUBLE	PPO6    	F	NULL	NONE	NULL	""
OK *    	RA      	STRING	RA      	F	NULL	NONE	NULL	" RIGHT ASCENSION"
OK *    	REGION  	STRING	REGION  	F	NULL	NONE	NULL	"GSSS Region Name"
OK *    	SCANIMG 	STRING	SCANIMG 	F	NULL	NONE	NULL	"Name of original scan"
OK *    	SCANNUM 	BYTE	SCANNUM 	F	NULL	NONE	NULL	"Identifies scan of the plate"
OK *    	SIMPLE  	STRING	SIMPLE  	F	NULL	NONE	NULL	""
OK *    	SITELAT 	STRING	SITELAT 	F	NULL	NONE	NULL	"Latitude of Observatory"
OK *    	SITELONG	STRING	SITELONG	F	NULL	NONE	NULL	"Longitude of Observatory"
OK *    	ST      	STRING	ST      	F	NULL	NONE	NULL	" SIDEREAL TIME"
#OK *    	TELESCOP	STRING	TELESCOP	F	ROSAT	NONE	type1	"Telescope where plate taken"
OK *    	TILT-POS	INT	TILT-POS	F	0	NONE	NULL	" TILT POSITION"
OK *    	TIME-END	STRING	TIME-END	F	NULL	NONE	NULL	"UT date of Observation"
OK *    	TIME-OBS	STRING	TIME-OBS	F	NULL	NONE	NULL	"UT date of Observation"
OK *    	TRIM    	STRING	TRIM    	F	NULL	NONE	NULL	""
OK *    	TTIME   	INT	TTIME   	F	0	NONE	NULL	" TOTAL ELAPSED TIME (SECS)"
OK *    	TVFILT  	INT	TVFILT  	F	0	NONE	NULL	" TV FILTER"
OK *    	UT      	STRING	UT      	F	NULL	NONE	NULL	" UNIVERSAL TIME"
OK *    	WAT0_001	STRING	WAT0_001	F	NULL	NONE	NULL	""
OK *    	WAT1_001	STRING	WAT1_001	F	NULL	NONE	NULL	""
OK *    	WAT2_001	STRING	WAT2_001	F	NULL	NONE	NULL	""
OK *    	WCSDIM  	INT	WCSDIM  	F	0	NONE	NULL	""
OK *    	XPIXELSZ	DOUBLE	XPIXELSZ	F	NULL	NONE	NULL	"X pixel size microns"
OK *    	XTENSION	STRING	XTENSION	F	IMAGE	NONE	NULL	"extension"
OK *    	YPIXELSZ	DOUBLE	YPIXELSZ	F	NULL	NONE	NULL	"Y pixel size microns"
OK *    	ZD      	STRING	ZD      	F	NULL	NONE	NULL	" ZENITH DISTANCE"
OK *    	axisSize	INT	AXISSZ  	F	NULL	INDEX	NULL	"Data array dimensions.&"
OK *    	extensionName	STRING	EXTNAME 	F	NULL	INDEX	NULL	"Name assigned to a FITS extension."
OK *    	extensionVersion	INT	EXTVER 	F	NULL	INDEX	NULL	"Number assigned to a FITS extension."
OK *    	frameId 	STRING	FRMID   	F	NULL	INDEX	NULL	"Gemini frame identifier"
OK *    	frameName	STRING	FRMNAME 	F	NULL	INDEX	NULL	"Name assigned to a frame of data."
OK *    	instrument	STRING	INSTRUME	F	NULL	NONE	NULL	"Instrument used to acquire data."
OK *    	multiArray	ANY	ARRAY   	F	NULL	EXTEN	NULL	"Multi-dimension array for testing."
OK *    	origin  	INT	ORIGINS 	F	NULL	INDEX	NULL	"A frames data origin.&"
# rm'd 02oct98 OK *    	origin  	INT	origins 	F	NULL	INDEX	NULL	"chunk coordinates for bottom left corner"
OK agwps0    	title    	STRING	TITLE    	F	NULL	NONE	NULL	"Title of observation"
OK agwps0    	telescope  	STRING	TELESCOP 	F	Gemini	NONE	NULL	"Gemini"
OK agwps0    	instrument	STRING	INSTRUME 	F	NULL	NONE	NULL	"Instrument used to acquire data."
OK agwps0    	insmode    	STRING	INSMODE    	F	NULL	NONE	NULL	"Instrument mode"
OK agwps0    	obsmode    	STRING	OBSMODE    	F	NULL	NONE	NULL	"Observing mode"
OK agwps0    	obstype    	STRING	OBSTYPE    	F	NULL	NONE	NULL	"Observation type"
OK agwps0    	obsid    	STRING	OBSID    	F	NULL	NONE	NULL	"Observation ID / Data label"
OK agwps0 	bunit   	STRING	BUNIT   	F	NULL	NONE	NULL	"Units of data values"
# next line added by dk
OK agwps0 	units   	STRING	UNITS   	F	NULL	NONE	NULL	"SDSU ADC units"
OK agwps0    	ctype1  	STRING	CTYPE1  	F	NULL	NONE	NULL	"gnomonic projection for R.A. or El."
OK agwps0    	ctype2  	STRING	CTYPE2  	F	NULL	NONE	NULL	"gnomonic projection for DEC. or Az."
OK agwps0    	crpix1  	DOUBLE	CRPIX1  	F	NULL	NONE	NULL	"Pixel i-coordinate at rotator axis"
OK agwps0    	crpix2  	DOUBLE	CRPIX2  	F	NULL	NONE	NULL	"Pixel j-coordinate at rotator axis"
OK agwps0    	crval1  	DOUBLE	CRVAL1  	F	NULL	NONE	NULL	"R.A. or El. at rotator axis in degrees"
OK agwps0    	crval2  	DOUBLE	CRVAL2  	F	NULL	NONE	NULL	"DEC. or Az. at rotator axis in degrees"
# rm'd 21nov98 OK agwps0 	cdelt1  	DOUBLE	CDELT1  	F	NULL	NONE	NULL	"Coordinate increment per pixel"
# rm'd 21nov98 OK agwps0 	cdelt2  	DOUBLE	CDELT2  	F	NULL	NONE	NULL	"Coordinate increment per pixel"
# rm'd 21nov98 OK agwps0    	cunit1  	STRING	CUNIT1  	F	NULL	NONE	NULL	"Units of first axis"
# rm'd 21nov98 OK agwps0    	cunit2  	STRING	CUNIT2  	F	NULL	NONE	NULL	"Units of second axis"
# rm'd 21nov98 OK agwps0    	pc001001  	DOUBLE	PC001001  	F	NULL	NONE	NULL	"xi rotation/skew matrix element"
# rm'd 21nov98 OK agwps0    	pc001002  	DOUBLE	PC001002  	F	NULL	NONE	NULL	"xj rotation/skew matrix element"
# rm'd 21nov98 OK agwps0    	pc002001  	DOUBLE	PC002001  	F	NULL	NONE	NULL	"yi rotation/skew matrix element"
# rm'd 21nov98 OK agwps0    	PC002002  	DOUBLE	PC002002  	F	NULL	NONE	NULL	"yj rotation/skew matrix element"
OK agwps0    	cd1_1	  	DOUBLE	CD1_1	  	F	NULL	NONE	NULL	"xi rotation/skew matrix element"
OK agwps0    	cd1_2	  	DOUBLE	CD1_2	  	F	NULL	NONE	NULL	"xj rotation/skew matrix element"
OK agwps0    	cd2_1	  	DOUBLE	CD2_1	  	F	NULL	NONE	NULL	"yi rotation/skew matrix element"
OK agwps0    	cd2_2	  	DOUBLE	CD2_2	  	F	NULL	NONE	NULL	"yj rotation/skew matrix element"
OK agwps0 	radecsys	STRING	RADECSYS	F	NULL	NONE	NULL	"Type of R.A./DEC. coordinate system"
OK agwps0    	equinox 	DOUBLE	EQUINOX 	F	NULL	NONE	NULL	"Epoch of mean equator and equinox"
OK agwps0 	mjd-obs 	DOUBLE	MJD-OBS 	F	NULL	NONE	NULL	"Epoch of obseration (TAI MJD)"
OK agwps0    	fldstop    	STRING	FLDSTOP    	F	NULL	NONE	NULL	"Name of field stop used"
OK agwps0    	lenslet    	STRING	LENSLET    	F	NULL	NONE	NULL	"Name of lenslet used"
OK agwps0    	filter    	STRING	FILTER    	F	NULL	NONE	NULL	"Name of filter used"
OK agwps0    	wfsfocus    	DOUBLE	WFSFOCUS    	F	NULL	NONE	NULL	"WFS focus setting"
OK agwps0    	xstart    	INT	XSTART    	F	1	NONE	NULL	"X start of region of interest"
OK agwps0    	ystart    	INT	YSTART    	F	1	NONE	NULL	"Y start of region of interest"
OK agwps0    	xsubap    	INT	XSUBAP    	F	1	NONE	NULL	"Number of subapertures in X"
OK agwps0    	ysubap    	INT	YSUBAP    	F	1	NONE	NULL	"Number of subapertures in Y"
OK agwps0    	xras    	INT	XRAS    	F	NULL	NONE	NULL	"Size of each subaperture in X"
OK agwps0    	yras    	INT	YRAS    	F	NULL	NONE	NULL	"Size of each subaperture in Y"
OK agwps0    	xspace    	INT	XSPACE    	F	NULL	NONE	NULL	"Spacing between subapertures in X"
OK agwps0    	yspace    	INT	YSPACE    	F	NULL	NONE	NULL	"Spacing between subapertures in Y"
OK agwps0    	xbin    	INT	XBIN    	F	1	NONE	NULL	"Binning factor in X"
OK agwps0    	ybin    	INT	YBIN    	F	1	NONE	NULL	"Binning factor in Y"
OK agwps0    	origin  	INT	ORIGIN  	F	NULL	INDEX	NULL	"Origin of data frame ??"
OK agwps0    	axisSize	INT	AXISSZ  	F	NULL	INDEX	NULL	"dimensions of frame"
OK agwps0    	axisLabel	STRING	AXISLAB 	F	NULL	INDEX	NULL	"Axis label"
OK agwps0    	frameName	STRING	FRMNAME 	F	NULL	NONE	NULL	"Frame Name ??"
OK agwps0    	frameId   	STRING	FRAMEID 	F	NULL	NONE	NULL	"Frame Id ??"
OK agwps0    	dataType   	STRING	DATATYP   	F	NULL	NONE	NULL	"Type of data frame ??"
OK agwps0    	utstart    	STRING	UTSTART    	F	NULL	NONE	NULL	"UT at observation start"
OK agwps0    	utend    	STRING	UTEND    	F	NULL	NONE	NULL	"UT at observation end"
OK agwps0    	inttime    	DOUBLE	INTTIME    	F	NULL	NONE	NULL	"Integration time for single exposure"
OK agwps0    	nexp    	INT	NEXP    	F	1	NONE	NULL	"Number of exposures on source"
OK agwps0    	exptime    	DOUBLE	EXPTIME    	F	NULL	NONE	NULL	"Total integration time on source"
OK agwps0    	elapsed    	DOUBLE	ELAPSED    	F	NULL	NONE	NULL	"Total elapsed time for observation"
OK agwps0    	preflash    	DOUBLE	PREFLASH    	F	NULL	NONE	NULL	"Detector preflash time (if any)"
OK agwps0    	darktime    	DOUBLE	DARKTIME    	F	NULL	NONE	NULL	"Detector dark time (if any)"
OK agwps0    	xprobe    	DOUBLE	XPROBE    	F	NULL	NONE	NULL	"X coordinate of WFS probe"
OK agwps0    	yprobe    	DOUBLE	YPROBE    	F	NULL	NONE	NULL	"Y coordinate of WFS probe"
